.reaction-picker {
  min-width: 200px;
}

.buttons {
  display: flex;
  background-color: #090810;
  padding: 15px 20px;
  border-radius: 10px;
  margin-bottom: 15px;
  flex-direction: column;
}

button {
  background-color: transparent;
  border-radius: 10px;
  padding: 5px 15px;
  display: block;
  margin: 5px;
  width: 100%;
  font-size: 24px;
  cursor: pointer;
  &.primary {
    border: 2px solid #ffc728;
    color: #ffd834;
  }

  &.secondary {
    border: 2px solid #e5dfcc;
    color: #e5dfcc;
  }

  &:hover {
    background-color: rgba(#e5dfcc, 0.05);
  }
}
